<%- include('header') -%>

    <div class="nav" style="background-color: white">
      <a href="#" class="nav_btn one">Napközik</a>
      <a href="/cica_nezet" class="nav_btn two">Cicák</a>
    </div>

    <div class="table" style="background-color: white">
      <table>
        <thead>
          <tr>
            <th>Név</th>
            <th>Tulajdonos</th>
            <th>Kapacitás</th>
            <th>Lakók</th>
          </tr>
        </thead>
        <tbody>
          <% napkozik.forEach(function(napkozi){ %>
          <tr>
            <td><%= napkozi.nev %></td>
            <td><%= napkozi.tulaj %></td>
            <td><%= napkozi.kapacitas %></td>
            <td><a href="/napkozi_nezet/<%= napkozi._id %>/cicak" class="nav_btn">Megtekint</a></td>
            <td><a href="/napkozi_nezet/<%= napkozi._id %>/edit" class="nav_btn">Módosítás</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <div class="new_cat">
        <a href="/napkozi_nezet/add" class="nav_btn" id="new_cat_btn"
          >Új napközi hozzáadása</a
        >
      </div>
    </div>

    <%- include('footer') -%>